h2 Recent Experience
hr
ul
  li
    h3.project-title Project6 Design Inc - Remote - Aug 2017 to Present
    span.lang PHP - Javascript
    ul
      li Frontend work on CrossFit Games - http://games.crossfit.com
      li Design and Implement various other client sites

  li
    h3.project-title Bonsai - Open Source - 2015 to Present
    span.lang C - C++
    ul
      li 3D game engine - no libraries
      li Renderer, Debug Profiler, Entity System, Physics .. etc.

  li
    h3.project-title Fresche - Semi-Remote - November 2015 to July 2017
    span.lang C++ - PHP - Javascript
    ul
      li Rebuilt product integration portal - C++ backend, Angular2 frontend
      li Refactored 300Kloc C++ Windows IDE to support Unicode
      li Increased test coverage by 4x

  li
    h3.project-title Yipida - May to November 2015
    span.lang PHP - Javascript
    ul
      li Full-Stack Developer && Dev Ops
      li Rebuilt Payment Processing with Stripe
      li Built a custom PHP templating engine

  li
    h3.project-title Consulting - 2012 to Present
    span.lang PHP - Rails - Javascript
    ul
      li Twilio MMS/Voice subscription marketing service
      li Several Ruby on Rails eCommerce apps using Spree
      li Timecard Generator app for Victoria Capitol Regional District
      li Swim Lesson roster generator for Victoria Capitol Regional District

