body {
  max-width: 960px;
  padding: 10px;
}

* {
  font-family: "Open Sans";
  font-size: 10px;
  white-space: pre;
}

#cert {
  display: flex;
  justify-content: space-between;
}

.skill {
  white-space: pre;
}

#project {
  width: 100%;
  padding: 0;
}

li {
  padding: 3px 0;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.column {
  flex-direction: column;
}

.align-items-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
}


.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}


#project div.job {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  align-items: flex-end;
  -webkit-align-items: flex-end;

  font-size: 8px;

  width: 100%;
}

.date,
.badge {
  display: inline-block;
}

#project h3.project-title {
  display: inline-block;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0 10px;
}

.header {
  padding-bottom: 10px;

  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  align-items: center;
  -webkit-align-items: center
}

.contact-info {
  position: relative;
  white-space: pre;
}

.right-justify {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  margin: 0;
  font-size: 2.0rem;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

h4 {
  margin: 0;
  font-size: 1.2rem;
}

.footer {
  position: absolute;
  bottom: 25px;
  right: 10px;
}

.marg-0-10 {
  margin: 0 10px;
}

.marg-10-0 {
  margin: 10px 0;
}


.w-75 {
  width: 75%;
}
.w-25 {
  width: 25%;
}

.pl-5 {
  padding-left: 5px;
}

.pr-15 {
  padding-right: 15px;
}

.pt-18 {
  padding-top: 18px;
}

.pad-0 {
  padding: 0;
}

.pad-10 {
  padding: 10px;
}

.pad-20 {
  padding: 20px;
}

.pad-15 {
  padding: 15px;
}

.pad-15-0 {
  padding: 15px 0px;
}

.pad-0-15 {
  padding: 0px 15px;
}

.pad-0-10 {
  padding: 0px 10px;
}
