body {
	max-width: 960px;
	font-size: 0.8em;
	font-family: 'Inconsolata for Powerline';
}

#letter {
	float: left;
	width: 73%;
}

#cert {
	float: right;
	width: 25%;
}

#letter,
#cert,
#project {
	display: inline-block;
}

.skill {
	padding: 0 10px;
}

li {
	margin: 10px 0;
}

ul {
	list-style: none;
	padding: 0 0 0 10px;
	margin: 10px 0 0 0 ;
}

p {
	padding: 0 10px;
	font-family: "Source Serif Pro";
}

.header h1,
.footer h1 {
	display: inline-block;
}

h1 {
	margin: 0;
	padding: 5px 0;
}

h2 {
	margin: 0;
}
h3 {
	margin: 0;
}
h4 {
	margin: 0;
}

hr {
	margin: 5px 0;
}
