//- To compile on save add the following snippet to your vimrc
//- autocmd BufWritePost resume.jade ! node render.js

link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
link(href='/home/scallywag/.fonts/Inconsolata for Powerline.otf' rel='stylesheet' type='text/css')

style
  include resume.css

- var contactInfo = "jesse.hughes.it@gmail.com        github.com/jjbandit"

body

  .header
    h1.name Jesse J. Hughes
    .contact-info !{contactInfo}

  #cert
    ul
      li
        h3 🧙✨
      li Vim
      li Shell
      li Git
      li Linux

    ul
      li
        h3 💪
      li C    C++
      li TS    JS    React
      li Ruby    Rails
      li OpenGL    WebGL

    ul
      li
        h3 👍
      li SIMD  Multithreading
      li SQL   Webservers
      li Windows

    ul.right-justify
      li
        h3 Interests
      li Developer Tooling
      li Performance
      li Computational Geometry

  .flex.pad-10.marg-10-0.border-top.border-bottom.space-evenly
    div OSS Projects

  #project
    include oss_projects.pug

  .flex.pad-10.marg-10-0.border-top.border-bottom.space-evenly
    div 12 Years Experience   7 Years Remote

  #project
    include recent_experience.pug
