body {
  max-width: 960px;
}

* {
  font-family: "Open Sans";
  font-size: 10px;
  white-space: pre;
}

#cert {
  width: 100%;
}

#cert ul {
  display: flex;
  display: -webkit-flex;
}

#cert ul li {
  width: 25%;
}

.skill {
  white-space: pre;
  padding: 2px 0px;
}

#project {
  width: 100%;
}

li {
  margin: 5px 0;
}

.flex {
  display: flex;
  display: -webkit-flex;

  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.border-bottom {
  border-bottom: 1px solid black;
}


#project div.job {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  align-items: flex-end;
  -webkit-align-items: flex-end;

  font-size: 8px;

  width: 100%;
}

#project div.job span {
  padding-right: 10px;
}

.date,
.badge,
.lang {
  display: inline-block;
}

#project .date {
  min-width: 100px;
  padding: 0 10px;
}

#project .lang {
  padding: 0 10px;
}

#project .badge {
  padding-left: 10px;
}

#project h3.project-title {
  display: inline-block;
  min-width: 140px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0;
}

p {
  padding: 0 10px;
}

.header {
  padding-bottom: 10px;

  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  align-items: center;
  -webkit-align-items: center
}

.contact-info {
  position: relative;
  right: 0;
  white-space: pre;
}

h1 {
  margin: 0;
  font-size: 2.0rem;
  padding-left: 12px;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

h4 {
  margin: 0;
  font-size: 1.2rem;
}

.footer {
  position: absolute;
  bottom: 25px;
  right: 10px;
}
