//- To compile on save add the following snippet to your vimrc
//- autocmd BufWritePost resume.jade ! node render.js

link(href='/usr/share/fonts/adobe-source-serif-pro/SourceSerifPro-Light.otf' rel='stylesheet' type='text/css')
link(href='/home/scallywag/.fonts/Inconsolata for Powerline.otf' rel='stylesheet' type='text/css')

style
  include resume.css

- lcLocation = location.toLowerCase()

if lcLocation === 'remote'
  - var contactInfo = "<h1>Jesse Hughes</h1> - Victoria BC, Canada - <span>jesse.hughes.it@gmail.com - github.com/jjbandit</span><hr>"
else
  - var contactInfo = "<h1>Jesse Hughes</h1> - <span>jesse.hughes.it@gmail.com - 778.350.5117 - github.com/jjbandit</span><hr>"

body

  .header !{contactInfo}
  #cert
    h2 Languages
    ul
      li
        h3 Excellent
        .skill Javascript ES6
        .skill Bash && Zsh

      li
        h3 Good
        .skill PHP
        .skill Ruby
        .skill SQL
        .skill Java

      li
        h3 Notion
        .skill C#
        .skill C++
        .skill Python

    h2 Tools
    ul
      li
        h3 Excellent
        .skill Git
        .skill jQuery
        .skill CSS Pre-processors
        .skill Templating Languages

      li
        h3 Good
        .skill Nginx
        .skill Laravel
        .skill Node
        .skill Meteor
        .skill Ruby on Rails
        .skill MongoDB
        .skill AWS

      li
        h3 Notion
        .skill Cucumber
        .skill Mocha
    h2 Education
    ul
      li
        h3 Autodidactic
        .skill Always Learning

  #project
    h2 Recent Projects - 2015
    hr
    ul
      li
        h3 Yipida - Full-Stack Engineer - May to Current
        p.
          At Yipida I was hired as a Frontend Engineer, however I quickly became
          involved in development at all levels of the stack.  We were working with a
          completely dead framework, so I had to get creative several times.  I
          even built my own templating system - cool!
          The app was built in PHP with a MySQL backend.

      li
        h3 Fishie - Consulting Project - January to April
        p.
          Fishie is a project I undertook for Panorama Recreation Centre.  The
          management team needed a tool to build swim instructors' schedules quickly
          and easily.  The tool also needed to integrate with their proprietary
          client registration software.  I used Meteor for this and loved every
          second of it!

      li
        h3 Iris - Consulting Project - June - July
        p.
          Iris needed a new face for their business and a more robust e-commerce
          platform.  I built them a single page application with a Spree (RoR)
          backend for sales.

  .footer !{contactInfo}
  p.
    If you're interested in learning more about me, or would like to speak in
    person, drop me a line!
