//- To compile on save add the following snippet to your vimrc
//- autocmd BufWritePost resume.jade ! node render.js

link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
link(href='/home/scallywag/.fonts/Inconsolata for Powerline.otf' rel='stylesheet' type='text/css')

style
  include resume.css

- var contactInfo = "jesse.hughes.it@gmail.com  _  github.com/jjbandit"

body

  .header
    h1.name Jesse Hughes
    .contact-info !{contactInfo}

  #cert
    ul
      li
        h3 Expert
        .skill git
        .skill Bash
        .skill Linux

      li
        h3 Proficient
        .skill C   C++
        .skill TS  JS  React
        .skill Ruby   Rails
        .skill OpenGL WebGL

      li
        h3 Good
        .skill SIMD
        .skill SQL
        .skill Webservers

      li
        h3 Interested In
        .skill Profiling Tooling
        .skill Compilers
        .skill Computer Vision
        .skill Computational Geometry


  #project
    include recent_experience.pug

  .footer !{contactInfo}
